<div id="<%= dom_id microgrid_config %>">
  <p>
    <strong>Load flexibility:</strong>
    <%= microgrid_config.load_flexibility %>
  </p>

  <p>
    <strong>Battery capacity:</strong>
    <%= microgrid_config.battery_capacity %>
  </p>

  <p>
    <strong>Ev charging power:</strong>
    <%= microgrid_config.ev_charging_power %>
  </p>

</div>
