<% content_for :title, "New microgrid config" %>

<h1>New microgrid config</h1>

<%= render "form", microgrid_config: @microgrid_config %>

<br>

<div>
  <%= link_to "Back to microgrid configs", microgrid_configs_path %>
</div>
